
// background pallets
$bgBody:#ffffff;
$bgJambotron:#F2F7FF;
$bgHeader:#ffffff;
$bgPrimary:#377dff;
$bgHooverBtn:#1E1E1E;

// text pallets
$textPrimary:#377dff;
$textNavbar:#1e1e1e;
$TextGray:#8e989f;
